#HeaderContainer {
  height: 64px;
  width: 100%;
  min-width: 1184px;
  background: rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  .nav-container {
    margin: 0 auto;
    width: 1184px;
    position: relative;
    padding: 16px 0;
    color: #ffffff;
    line-height: 32px;
    .navList {
      padding-left: 45px;
      li {
        float: left;
        padding-right: 32px;
        opacity: 0.8;
        position: relative;
        cursor: pointer;
        &.active {
          opacity: 1;
          font-weight: 700;
        }
        img {
          width: 28px;
          height: 13px;
          position: absolute;
          right: 0;
          top: -2px;
        }
      }
    }
    .searchContainer {
      margin-left: 67px;
    }
  }
}
